@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Domine';
}

mjx-container {
  margin: 0 !important;
}

@layer components {
  button:disabled {
    @apply disabled:bg-gray-200 disabled:text-gray-800 disabled:border-gray-600
  }

  .button {
    @apply px-4 py-1 text-sm text-white font-semibold rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2;
  }

  .badge {
    @apply px-4 py-1 text-sm font-semibold rounded-full;
    font-size: smaller;
  }

  .badge--secondary {
    @apply badge text-gray-800 bg-gray-200 border border-gray-800;
  }
  
  .badge--primary {
    @apply badge text-white bg-gray-800 border border-gray-900;
  }

  .button--primary {
    @apply button bg-blue-600 hover:bg-blue-800;
  }

  .button--correct {
    @apply button bg-green-600;
  }

  .button--incorrect {
    @apply button bg-red-600;
  }

  .problem-navigation {
    @apply flex flex-row justify-center items-center border rounded-xl gap-2 h-full px-2 py-1;
  }

  .problem-navigation--active {
    @apply problem-navigation border-black;
  }

  .section {
    @apply flex flex-col gap-4 bg-white rounded-2xl p-6;
  }
}